{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^\\.\\.\\/",
        "^\\.\\/.*(?<!(css|svg))$",
        "^\\.\\/.*(svg|css)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "overrides": [
        {
            "files": [
                "*.yaml",
                "*.yml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
