.Root {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 2rem 0;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.right {
    align-items: flex-end;
}