/**
 * Align the menu with the title
 */
@media (min-width: 997px) {
    .menu {
        padding-top: 1rem;
    }
}

@media (min-width: 997px) {
    @supports (scrollbar-gutter: stable) {
        .menu {
            padding-left: 1rem;
            padding-right: 0.5rem;
        }
    }
}

/**
 * Dim the links when hovering one of the links
 */
.menu__caret,
.menu__link--sublist-caret::after {
    transition: all 0.2s ease;
    opacity: 0;
}

.menu:has(.theme-doc-sidebar-item-category-level-1:hover) .menu__caret,
.menu:has(.theme-doc-sidebar-item-category-level-1:hover)
    .menu__link--sublist-caret::after {
    opacity: 1;
}

/**
 * Tweak the spacing
 */
.menu__list-item:not(:first-child) {
    margin-top: 0;
}

/**
 * Make sidebar sub-items less bold
 */
.menu__link {
    font-weight: 400;
}

.menu__link--sublist {
    font-weight: 500;
}

.menu__list-item-collapsible--active {
    background: none;
}