openapi: 3.1.1
info:
  title: Let's Book API
  description: |
    # Changelog

    ## 2025-11-10
    - Made the `url` property of a booking `nullable` when its status is still `'draft'`.
    - Added the new [webhook](https://support.letsbook.app/api/#tag/Webhooks) endpoints

    ## 2025-10-17
    - Added the `booking_fee` cost type

    ## 2024-05-31
    - Renamed all references from VAT to tax. For backward compatibility, the legacy `VAT` properties remain available but are now deprecated.
    - Introduced the new `/v1/tax-rates` endpoint and deprecated the legacy `/v1/vat-rates` endpoint.

    # Introduction

    The Let's Book API adheres to REST standards. When an endpoint accepts
    parameters, data should be transmitted as either a JSON body or form-encoded data.
    All responses are returned in JSON format. Every endpoint begins with the
    base URL: `https://api.letsbook.app`. The OpenAPI specification is
    available at [https://support.letsbook.app/api.yaml](https://support.letsbook.app/api.yaml).

    You can be assured that all GET requests do not modify any data and are therefore
    idempotent, while POST/PUT/DELETE requests are not. We use HTTP status codes
    to communicate errors whenever possible.

    # Authentication

    To access the API, you need an API key, which can be obtained from the
    [dashboard](https://dashboard.letsbook.app/integrations). The API key is
    used as a Bearer Authentication token. Please note that the API key is case-
    sensitive. Most tooling supports Bearer Authentication natively.
    If you are using a tool that does not support it, you can construct the Authorization
    header manually as follows: `Authorization: Bearer <API_KEY>`.

    ### Example

    For instance, when your API key is
    `ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04`,
    you should configure the header as follows:

    ```
    Authorization: Bearer ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04
    ```

    # Multiple Tenants

    If your API user has access to multiple [tenants](#tag/Me), you should
    include the `X-Tenant-Id` header with every request. If no header is
    provided, we will default to your primary tenant.

    ### Example

    You can use the `/me` endpoint to retrieve a list of all tenants to which you
    have access. You can then use the `id` of the desired tenant.
    For example, if the ID is `9366b305-e315-4abe-ba8a-90e326ad8e81`,
    you would configure the header as follows:
    ```
    X-Tenant-Id: 9366b305-e315-4abe-ba8a-90e326ad8e81
    ```

  version: '1.0'
  contact:
    name: Let's Book
    email: tech@lets-book.com
    url: https://lets-book.com
  license:
    name: Proprietary
    url: https://lets-book.com
servers:
  - url: https://api.letsbook.app
    description: Let's Book API v1
tags:
  - name: Me
    description: |
      Retrieves information about the current user. Primarily used to verify
      that authentication is functioning as expected.
  - name: Docks
    description: |
      A dock serves as the pickup and return point for boats. Boats can be moored at
      docks for specified periods of time.
  - name: Boat models
    description: |
      A boat model represents a type of boat. Many boat rental companies maintain multiple
      interchangeable boats of the same type, which we refer to as a boat model.
  - name: Customers
    description: |
      A customer is an individual who rents a boat.
  - name: Bookings
    description: |
      A booking can be created by customers or staff members. It represents a
      reservation for a specific boat model, to be picked up at a designated time from a
      specific dock and returned at a specified time to that same dock.
  - name: Tax rates
    description: |
      A tax rate is a named percentage used to calculate taxes on add-ons,
      costs, and other charges.
  - name: Availability
    description: |
      Availability represents the availability of a boat model at a specific dock.
      Availability is calculated by subtracting the number of bookings for a
      specific boat model at a specific dock from the total number of boats available
      at that dock.
  - name: Webhooks
    description: |
      A webhook is a way for one system to instantly notify another when something happens. Instead of your app constantly polling our API, Let's Book sends an HTTP POST request to your specified URL whenever an event occurs. See [webhook events](#tag/Webhooks-events) for details on what we're sending.
  - name: Webhook events
    description: |
      A webhook event payload is a JSON object that contains event data for your app to process. You can then trigger actions, update databases, or run workflows. Here's a list of event details on what we're sending.
security:
  - AuthorizationHeader: []
components:
  securitySchemes:
    AuthorizationHeader:
      type: http
      scheme: bearer
      description: |
        Use your API key as a Bearer token in a header: `Authorization: Bearer <API_KEY>`.
        You can obtain your API key from the [dashboard](https://dashboard.letsbook.app/integrations).
    WebhookSignature:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: |
        Outgoing webhooks include a signature header that you can use to verify the request came from Let's Book.
        The signature is generated using the webhook secret configured in your [webhook settings](https://dashboard.letsbook.app/integrations/webhooks).
webhooks:
  $ref: webhook-events.yaml
paths:
  /me:
    $ref: paths/me.yaml
  /v1/docks:
    $ref: paths/docks.yaml
  /v1/docks/{id}:
    $ref: paths/docks@{id}.yaml
  /v1/boat-models:
    $ref: paths/boat-models.yaml
  /v1/boat-models/{id}:
    $ref: paths/boat-models@{id}.yaml
  /v1/customers:
    $ref: paths/customers.yaml
  /v1/customers/search:
    $ref: paths/customers-search.yaml
  /v1/customers/{id}:
    $ref: paths/customers@{id}.yaml
  /v1/customer-types:
    $ref: paths/customer-types.yaml
  /v1/bookings:
    $ref: paths/bookings.yaml
  /v1/bookings/{id}:
    $ref: paths/bookings@{id}.yaml
  /v1/tax-rates:
    $ref: paths/tax-rates.yaml
  /v1/vat-rates:
    $ref: paths/vat-rates.yaml
  /v1/webhooks:
    $ref: paths/webhooks.yaml
  /v1/webhooks/{id}:
    $ref: paths/webhooks@{id}.yaml
  /v1/webhooks/{id}/enable:
    $ref: paths/webhooks@{id}@enable.yaml
  /v1/webhooks/{id}/disable:
    $ref: paths/webhooks@{id}@disable.yaml
  /v1/availability:
    $ref: paths/availability.yaml
