openapi: 3.0.3
info:
  title: Let's Book API
  description: |
    # Changelog

    ## 2025-10-17
    - Added the 'booking_fee' cost type

    ## 2024-05-31
    - Renamed all references from VAT to tax. For backward compatibility, the legacy `VAT` properties remain available but are now deprecated.
    - Introduced the new `/v1/tax-rates` endpoint and deprecated the legacy `/v1/vat-rates` endpoint.

    # Introduction

    The Let's Book API adheres to REST standards. When an endpoint accepts
    parameters, data should be transmitted as either a JSON body or form-encoded data.
    All responses are returned in JSON format. Every endpoint begins with the
    base URL: `https://api.letsbook.app`. The OpenAPI specification is
    available at [https://developers.lets-book.com/api-spec.json](https://developers.lets-book.com/api-spec.json).

    You can be assured that all GET requests do not modify any data and are therefore
    idempotent, while POST/PUT/DELETE requests are not. We use HTTP status codes
    to communicate errors whenever possible.

    # Authentication

    To access the API, you need an API key, which can be obtained from the
    [dashboard](https://dashboard.letsbook.app/integrations). The API key is
    used as a Bearer Authentication token. Please note that the API key is case-
    sensitive. Most tooling supports Bearer Authentication natively.
    If you are using a tool that does not support it, you can construct the Authorization
    header manually as follows: `Authorization: Bearer <API_KEY>`.

    ### Example

    For instance, when your API key is
    `ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04`,
    you should configure the header as follows:

    ```
    Authorization: Bearer ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04
    ```

    # Multiple Tenants

    If your API user has access to multiple [tenants](#tag/Me), you should
    include the `X-Tenant-Id` header with every request. If no header is
    provided, we will default to your primary tenant.

    ### Example

    You can use the `/me` endpoint to retrieve a list of all tenants to which you
    have access. You can then use the `id` of the desired tenant.
    For example, if the ID is `9366b305-e315-4abe-ba8a-90e326ad8e81`,
    you would configure the header as follows:
    ```
    X-Tenant-Id: 9366b305-e315-4abe-ba8a-90e326ad8e81
    ```

  version: '1.0'
  x-logo:
    url: >-
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAADSCAMAAAALz4jFAAAAk1BMVEUAAAAIFpAIFpAJFpEIFpAJF5IIFpAIFpEIFpAIFpAIFpAIFpAIFpAIFpEIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpAIFpC+PR56AAAAMHRSTlMA+vAFmQLrDVL2L2W7CNYbIdw6ESrip8BOSRbGrpLmNdHMtUB5bmBaRIt0oiWEfmn5OFIKAAAMZ0lEQVR42uzBgQAAAACAoP2pF6kCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABm584W0wSiAAyfAQHRsAnKooK7uNSe93+6WkXOsEip1pYq311Smxj5ZWAYbLVarVar1Wq1/gOiMdicpp3pt7V/VKD1YYLNwmKYkOcnR4LW51A2c4YZw50JrU+hnQTMY5O2gE9hLLDM0IfWJ3BmWE7YQuv9mTO8R+hC690pC7wvjKD13qQTVhnb0HprGxkrTaH1zrQhcqzdNvb2LvKW0HpjGyRCX4SLiJ8VWkDrjX1haj6AG2VKBbAAWm/LFmj3HwGxJ5hqJwPemIc3rA88x8KbA7Te1rd753sS/YsOrbdFe/oVZEUCJtR2ccD7GmOC+ZAV6HhjQOtdzTAhRJCljPHmCK13NccEiyHLnuFNuy7gfS3wZg9ZPRkTrL0c8L6meLMQIaOPN0Nova0NbWYTeOKknQv+BCbDm+/Ac0JucPj7JH91FUvAUbari33zFqsN9quL9X920jzHm7ECnBWmHPhNiisnXBMes1TxSu4BkaaYYErtDaPLBcOZe1j3JPiDzCEmdvBfoQ2t+kCCGd7Mn5hfxg08posJtgRiWJjQJahHXOA91kqBP6YnYGIE/xVuDJgokNqwJ0aALqb6fzIAmp1UV1CT+IX3Df02AO5EUFhTFmP6btCcADyGV2PjmQAI67cBeEN6Q2iQmDLuGkFzAtjTXumpAAiLPz4AsYOFEwFDxRvdaFAAHbwKnScDIJb26QHQwEq7AK6JEzQngHRjjsRnAyAb6dMDUFxMdeGnIMQbOWpQAPaMRu4HAlC/rlyLITkEnx4AbOn1mGnZVSJ4EBsUwHGIF5b5UAC6eKUZ/RBTw+jjA7Dd7AYzaUwQBvDKAGxn4Hf9ODI04IhnFEAsXkgAMFDxoiPxPyKKPS+OTEX6ZQBwI/XpT2Rb4NnHge91/WUvKE9f+vmcPc8fOIH0iwAkMdH4T1rgdgFDG6DD7wBeF4DdPcxkFRGZYH3teyJcaVP3TKedknuxWKbXp9QYErZ3mIUCQ2TCcDyNgzoB0O3QxSnwoNuZh5fKVFmfrB0JcoztYUYP6B+rAohGbuLQ9MupyhemvkGk8kcArwpA284ZcsKOAxcDLPcFcMiuXtS2Y4YcVd8HNQPQpphaQ8L8PmPIG04d4Bl7PfeAnXk3gEjHVAwN59E2Fxyuho74qgCCEcMca6vBmY/lxrflSyzZYvaBYd58UC8Ae1RY9S55tPm550SvgNTViw/QvTsBHOeYcht/fUibYGrGBe7AawKQ4jEWCR2tOoCdblmW3rHhJ2WCJWSvVgB+mD8IlMrvkRTWtwKktVr6gI1SFkCwwNTsP1hTuZSxxEl6UQA9C0vtpMoAROMsEGlBewk5+nUAUjTH1PS6AT0ZSwlrKfmj1DsPOInFAIwDpiwHmo+fDuTLfU0A9gJToW5xR+ReZQC8Izdq6bqAqS/pXgDh+mp1CLlgzLsfkkHP6cwI8Q4hLgRgu4y2///xCQtLAQtO8KIAfNp4E8+J9kN+8VFcL4A17cO/96LvtP2YnQ+g0je46DNMsTBkSBZ0GYIeoCI5iPkAVpkxqdk0xQ4MwzQnJTuAFwWgLWifn78NbQCKK5xx7+8reXPnIqYcw5myEjBh1g6ADnNtfkwwJAg2IaYiANDoa3VnSJL9XeBGnVwA2+Z/xo5m+t93h6+ZJQsqw1JsAy8KIBLyV2I2jL8PUTvb0kSQdiFClp526sCF8216sYH6Aai3AT5Waftfv+ULmY/I8ApHRl3uO9kAlir9gj40j+LvxgL+0pfyqgD2tAMorPSRtYqp4NIA2F56+GIQ69j5I0o1KCyK1TOrpy2DbqpKuBofwFymn79q3iSguQuxDmEJBZI/0ccn48kApEXhxnONXsxBzQDoh7BF134oALqsIE2o++KyeGbzW3tEHVMTFEDGToSG0fYCVqmcA7InDM/CjfhMAPwtR+teYkz/oWYAa+So4+nW0R5bD2Bnb4PbQWJAO3IHpJI10jHeyL3yADoaNIyxwErVc0AjTIyCZwIwh1hhVzOAQMYcebI3qgNgCcTc5eBAL04MO/QLYtDU4jJXh/oblAYwadwEYE/Hur5BwZFeuLHxRACOjBU61QGQDRaxg1k1Faxc2cd1iGQNYOjFJ3ykTrugMO6LhEG/Ni4LQG3cvQu+gLUtNMjbIhlHjwfQE7DCqG4AsGdYJGxrTQX3XEyNFe4gFDclO6otFwDzSgLwS/8qvWE31QYh1qfG1W+5mfJ4ADJWmNQOAPoyFjG/TgD8NcfwWBrAsTwA7NYOAEeNOgaQDlihxpOPkLf7V0MAkaLOEAsso04AYsiN4OVDQFg+BGyrhwCe+r1JZ4FdhgVMkIeWPpvNz2TMEHzIEefIUQd/4CDQneR1jvkA4qqoze1hPlRzCVUEQObc+5e/D2pfsqNaglhyENij1yK6M7DJDToMUHTksHA+2X3vLiPHNALbVhTlqGPWlw05kYUcV3z+NLAr5RXXBHahmmIu95MhEsGuEYBk8e9fbVz8ZNwl408Dh8UrJB5tZ4cPwLUwpTfnSuAGiTyNjwpkSKcaN82YUwGJ/2AA4oI7AL/HZ/SG/jXxeJIxFdcIIGIUTMRPBLnFiQZVAXDpIOUHe/fanCoMhAF4A0LESwUUL1gULxXRgvv/f905LR0SQ8BLPxRn9vnY2eF0jm8LbDapBYVc2jtx3Qo2sLRtyymb1hJL8c4CVS+45yHWnEvpfr8nANFccRxDXjl5wJz4hXVYacM4c0u/iFUoxzWwdLgdAH8mNwOvtsh+VsbkYgBIRYfkp8CM5bM15ADIS4usLc0g6SX+rQcVw/OdjcxdoHTNdbqN7XfTFwfQFd+K+bFyfmyrDwrGNM3+64JsMth8WyamlJjmAHiTH/4+QLz6+KT1mykvBoTEV9LrOaUOVxO3V1YDrRRLTtqOBHw0LlDqx11sH6ou0gvRMwHADZd+uDYTABifjMqq/3CGCscFwdqXX+745ld9hiW/JgDM/uFUbnXjpRSIxWRyTG1R0Pu6vvTMMP1f4EeO1AlWAgB8y0R5Dm0wbWrxwGiDJfkGxkEl/1elTwZAjltwzqIl04zonlDl1xxBYE8vycdWXHLFlQA0O4flgrQICkNha6lrD+w6Qx2zOhI2lZLbipGA+M4FWmQHrNszoT77vD8bAL7FGh4XR9Q0BmAYYJ0IHgmA44pca7E1fOEB1rDXmqFQ18PSqg0PgnbdgZDqd9ux5APkw6bn882zAYD16mb/0coaAwAJ1rBHDwWgf6NP7lzE2QRaLLc0AYCudL33FvSDmHQYmMo8Y8kIocfkMd2GVr73dABgF6Ogbz7x98YAwAdrmmNoDoBuYicxGmaGxNigiiVD0AXA2kvlGfw5+aVHlSj34EieeG1o5QfPBwD4GVVO9AkynjpNAYCFh1VxDx4IwEyu3r1hRTAHYaEp8HbajSHqi9XfT4YaUtdK8elhKTaV291mBArfuXmMvI8NZkP4puwNcaY9UK3PNgoTUPBToLYu+ub9SyCrs9IPGSexUpGFIBv235SCnFeXDiIohDPE9uwY9mpbq+E7lpgvfoLrJoMu8vSUnnXp1ErF59zLB8X8teFN+yPQ4X4/jzrfDlBl7tJZMaHNjLfpx9qCKp53KqLslExM3fJSPgiK69nLaM5BZfrZYFUWLIZQsrqdQlqGJtyX/97fH7e9FWE0lcYsw1JUqUa2hyvDgVT9a9Z45LrhEH6Dh647Etf4NT5y3dHYhDpWUdCCB7tH7Ou2/GcoBGMojAwU+nUtowOQl7Guua0fUAgW2lkLdtQ/MLAX2PNINMufOHO1QwLsILda9W9WvVi6DJAXEmGJbf0hfOFJgMIsrPuL4vHip34xQ+EE5IV8OigY26x77GZLhkLg10+QOrO8e0zSpYEta3CS+0XYyOkr26pzhlX0C+B1jT1swKKhWj/FJsvW7XogNxwNVDWOLrlLrGf3gLyai4N1lu5jG4neWrHGTR5jJR7qLSeg49clIPaBvCJ/gzqDT9Bba+vZgH7/v6pRx0CVEYVQxz07qLIzegF8Xfy0wmvxiUO9cWbjNa/fjjFX8qTxRer/ONu5Cc14MpDqZwd6/Xt94e7Q/3Lw+X2ZORb1iU+fPiGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQsi/9uCABAAAAEDQ/9ftCFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAngJZh8ilNciEZgAAAABJRU5ErkJggg==
  contact:
    name: Let's Book
    email: tech@lets-book.com
    url: https://lets-book.com
servers:
  - url: https://api.letsbook.app
    description: Let's Book API v1
tags:
  - name: Me
    description: |
      Retrieves information about the current user. Primarily used to verify
      that authentication is functioning as expected.
  - name: Docks
    description: |
      A dock serves as the pickup and return point for boats. Boats can be moored at
      docks for specified periods of time.
  - name: Boat models
    description: |
      A boat model represents a type of boat. Many boat rental companies maintain multiple
      interchangeable boats of the same type, which we refer to as a boat model.
  - name: Customers
    description: |
      A customer is an individual who rents a boat.
  - name: Bookings
    description: |
      A booking can be created by customers or staff members. It represents a
      reservation for a specific boat model, to be picked up at a designated time from a
      specific dock and returned at a specified time to that same dock.

      Bookings can have various statuses.
  - name: Tax rates
    description: |
      A tax rate is a named percentage used to calculate taxes on add-ons,
      costs, and other charges.
  - name: Availability
    description: |
      Availability represents the availability of a boat model at a specific dock.
      Availability is calculated by subtracting the number of bookings for a
      specific boat model at a specific dock from the total number of boats available
      at that dock.
paths:
  /me:
    $ref: paths/me.yaml
  /v1/docks:
    $ref: paths/docks.yaml
  /v1/docks/{id}:
    $ref: paths/docks@{id}.yaml
  /v1/boat-models:
    $ref: paths/boat-models.yaml
  /v1/boat-models/{id}:
    $ref: paths/boat-models@{id}.yaml
  /v1/customers:
    $ref: paths/customers.yaml
  /v1/customers/search:
    $ref: paths/customers-search.yaml
  /v1/customers/{id}:
    $ref: paths/customers@{id}.yaml
  /v1/customer-types:
    $ref: paths/customer-types.yaml
  /v1/bookings:
    $ref: paths/bookings.yaml
  /v1/bookings/{id}:
    $ref: paths/bookings@{id}.yaml
  /v1/tax-rates:
    $ref: paths/tax-rates.yaml
  /v1/vat-rates:
    $ref: paths/vat-rates.yaml
  /v1/availability:
    $ref: paths/availability.yaml
