openapi: 3.1.1
info:
  title: Let's Book API
  description: |
    # Changelog

    We take backward compatibility seriously. Breaking changes are always announced ahead of time and include a migration period. Deprecated features remain available for a minimum of six months. New endpoints and optional fields may be added, as they don’t affect existing integrations.

    You can subscribe to our changelog &thinsp;<a href="https://support.letsbook.app/api/changelog.rss" target="_blank">
      <img src="/img/rss.svg" width="14" height="14" alt="" style="vertical-align: middle;"  />
      RSS feed
    </a> to stay up to date.

    ## 2026-04-20
    ### Coupons
    - Added new endpoints to create [percentage](/api/#operation/createPercentageCoupon), [fixed amount](/api/#operation/createFixedAmountCoupon), and [free time](/api/#operation/createFreeTimeCoupon) coupons
    - Added new endpoints to [list](/api/#operation/listCoupons), [retrieve](/api/#operation/getCoupon), [update](/api/#operation/updateCoupon), and [remove](/api/#operation/removeCoupon) coupons
    - Added new endpoints to [list](/api/#operation/listCouponCodes), [add](/api/#operation/addCouponCodes), [generate](/api/#operation/generateCouponCodes), and [remove](/api/#operation/removeCouponCode) coupon codes

    ## 2026-03-31
    ### Customers
    - The `password` property is now ignored on the [create customer](/api/#operation/createCustomer) and [update customer](/api/#operation/updateCustomer) endpoints
    - When `notifyCustomer` is set to true, the [create customer](/api/#operation/createCustomer) endpoint now sends a welcome email with a password reset link instead of login credentials

    ## 2026-01-28
    ### Product webhooks
    - Added new [product.added](/api/#operation/webhookProductAdded) webhook event
    - Added new [product.updated](/api/#operation/webhookProductUpdated) webhook event
    - Added new [product.removed](/api/#operation/webhookProductRemoved) webhook event

    ## 2026-01-20
    ### Manual costs
    - Added new endpoint to [add a manual cost](/api/#operation/createBookingCost) to a booking
    - Added new endpoint to [update a manual cost](/api/#operation/updateBookingCost) on a booking
    - Added new endpoint to [delete a manual cost](/api/#operation/deleteBookingCost) from a booking
    - Only costs with type `manual` can be added, updated, or deleted through the API

    ### Confirm booking
    - Added new endpoint to [confirm a booking](/api/#operation/confirmBooking)
    - Added new `confirmed` property to [create](/api/#operation/createBooking) booking requests
    - Bookings created without `confirmed: true` will be created as drafts
    - **Deprecated:** The `paid` property is now deprecated in favor of `confirmed`. Previously, `paid: true` would add a cash payment. Now it simply confirms the booking without creating payments.

    ### Products
    - Added new [products](/api/#tag/Products/operation/listProducts) endpoint to list all products (called "add-ons" in the dashboard)
    - Added new [product categories](/api/#tag/Products/operation/listProductCategories) endpoint to list all product categories.

    ## 2025-12-24
    ### Booking labels
    - Added new [booking labels](/api/#tag/Booking-labels) endpoint
    - Added new endpoint to [update the booking labels](/api/#tag/Bookings/operation/replaceBookingLabels) assigned to a booking
    - Added new `labels` property to the [booking response](/api/#operation/getBooking)

    ### Booking filters
    - Added new `pickupAfter` and `pickupBefore` filters to [list bookings](/api/#operation/listBookings) to filter by pickup time
    - Added new `labelIds` filter to [list bookings](/api/#operation/listBookings) to filter by booking labels

    ### Cancel booking
    - Added new endpoint to [cancel a booking](/api/#operation/cancelBooking)

    ### Additional questions and answers
    - Added new [additionalQuestions](/api/#tag/Bookings/operation/getBooking) property to the booking response

    ## 2025-11-18
    - Made the `url` property of a booking `nullable` when its status is `'draft'`
    - Made the `phoneNumber` property of a customer `nullable` instead of empty string when not known
    - Added new [webhook endpoints](/api/#tag/Webhooks) 
    - Added new [webhook requests](/api/#tag/Webhook-events)

    ## 2025-10-17
    - Added the `booking_fee` cost type

    ## 2024-05-31
    - Renamed all references from VAT to tax. Legacy `VAT` properties remain available for backward compatibility but are deprecated.
    - Introduced the `/v1/tax-rates` endpoint and deprecated the `/v1/vat-rates` endpoint

    # Introduction

    The Let's Book API follows REST standards. Send parameters as JSON body or form-encoded data.
    All responses return in JSON format. Every endpoint starts with `https://api.letsbook.app`. 
    Download the OpenAPI specification at [https://support.letsbook.app/api.yaml](https://support.letsbook.app/api.yaml).

    GET requests never modify data and are idempotent. POST/PUT/DELETE requests are not. 
    We use HTTP status codes to communicate errors.

    # Authentication

    Get your API key from the [dashboard](https://dashboard.letsbook.app/integrations). 
    Use it as a Bearer Authentication token. The API key is case-sensitive.

    Most tools support Bearer Authentication natively. If yours doesn't, construct the 
    Authorization header manually: `Authorization: Bearer <API_KEY>`.

    ### Example

    When your API key is `ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04`, 
    configure the header like this:

    ```
    Authorization: Bearer ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04
    ```

    # Multiple organisations

    If your API user has access to multiple [organisations](#tag/Me) (tenants), include the `X-Tenant-Id` 
    header with every request. Without this header, we default to your primary organisation.

    ### Example

    Use the `/me` endpoint to retrieve all organisation you can access. Then use the `id` of your 
    desired organisation. For example, if the ID is `9366b305-e315-4abe-ba8a-90e326ad8e81`, 
    configure the header like this:

    ```
    X-Tenant-Id: 9366b305-e315-4abe-ba8a-90e326ad8e81
    ```

  version: '1.0'
  contact:
    name: Let's Book
    email: tech@lets-book.com
    url: https://lets-book.com
  license:
    name: Proprietary
    url: https://lets-book.com
servers:
  - url: https://api.letsbook.app
    description: Let's Book API v1
tags:
  - name: Me
    description: |
      Retrieves information about the current user. Primarily used to verify
      that authentication is functioning as expected.
  - name: Docks
    description: |
      A dock serves as the pickup and return point for boats. Boats can be moored at
      docks for specified periods of time.
  - name: Boat models
    description: |
      A boat model represents a type of boat. Many boat rental companies maintain multiple
      interchangeable boats of the same type, which we refer to as a boat model.
  - name: Customers
    description: |
      A customer is an individual who rents a boat.
  - name: Bookings
    description: |
      A booking can be created by customers or staff members. It represents a
      reservation for a specific boat model, to be picked up at a designated time from a
      specific dock and returned at a specified time to that same dock.
  - name: Booking labels
    description: |
      A booking label is a tag you can assign to bookings to categorize or highlight them. Use labels to filter and organize bookings in your workflows.
  - name: Products
    description: |
      A product is an item available for purchase, such as equipment rentals,
      snacks, or accessories. Products can be organized into categories.

      Products are called "add-ons" in the dashboard, and product categories are called "add-on categories".
  - name: Tax rates
    description: |
      A tax rate is a named percentage used to calculate taxes on add-ons,
      costs, and other charges.
  - name: Coupons
    description: |
      A coupon is a discount that can be applied to a booking by entering a code. Every
      coupon has one of three types — percentage, fixed amount, or free time — and can
      have any number of codes. Codes can be added manually or generated in bulk.
  - name: Availability
    description: |
      Availability represents the availability of a boat model at a specific dock.
      Availability is calculated by subtracting the number of bookings for a
      specific boat model at a specific dock from the total number of boats available
      at that dock.
  - name: Webhooks
    description: |
      A webhook is a way for one system to instantly notify another when something happens. Instead of your app constantly polling our API, Let's Book sends an HTTP POST request to your specified URL whenever an event occurs. See [webhook events](#tag/Webhooks-events) for details on what we're sending. We consider the webhook call successful when your server returns a response with a `2xx` status code.
  - name: Webhook events
    description: |
      A webhook event payload is a JSON object that contains event data for your app to process. When a relevant event occurs, we'll send the payload using a POST request to your webhook endpoint. Here's a list of event details on what we're sending.
security:
  - AuthorizationHeader: []
components:
  securitySchemes:
    AuthorizationHeader:
      type: http
      scheme: bearer
      description: |
        Use your API key as a Bearer token in a header: `Authorization: Bearer <API_KEY>`.
        You can obtain your API key from the [dashboard](https://dashboard.letsbook.app/integrations).
    WebhookSignature:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: |
        Outgoing webhooks include a signature header that you can use to verify the request came from Let's Book.
        The signature is generated using the webhook secret configured in your [webhook settings](https://dashboard.letsbook.app/integrations/webhooks).
webhooks:
  $ref: paths/webhook-events.yaml
paths:
  /me:
    $ref: paths/me.yaml
  /v1/docks:
    $ref: paths/docks.yaml
  /v1/docks/{id}:
    $ref: paths/docks@{id}.yaml
  /v1/boat-models:
    $ref: paths/boat-models.yaml
  /v1/boat-models/{id}:
    $ref: paths/boat-models@{id}.yaml
  /v1/customers:
    $ref: paths/customers.yaml
  /v1/customers/search:
    $ref: paths/customers-search.yaml
  /v1/customers/{id}:
    $ref: paths/customers@{id}.yaml
  /v1/customer-types:
    $ref: paths/customer-types.yaml
  /v1/bookings:
    $ref: paths/bookings.yaml
  /v1/bookings/{id}:
    $ref: paths/bookings@{id}.yaml
  /v1/bookings/{id}/confirm:
    $ref: paths/bookings@{id}@confirm.yaml
  /v1/bookings/{id}/order:
    $ref: paths/bookings@{id}@order.yaml
  /v1/bookings/{id}/labels:
    $ref: paths/bookings@{id}@labels.yaml
  /v1/bookings/{id}/costs:
    $ref: paths/bookings@{id}@costs.yaml
  /v1/bookings/{id}/costs/{costId}:
    $ref: paths/bookings@{id}@costs@{costId}.yaml
  /v1/tax-rates:
    $ref: paths/tax-rates.yaml
  /v1/vat-rates:
    $ref: paths/vat-rates.yaml
  /v1/booking-labels:
    $ref: paths/booking-labels.yaml
  /v1/products:
    $ref: paths/products.yaml
  /v1/product-categories:
    $ref: paths/product-categories.yaml
  /v1/coupons:
    $ref: paths/coupons.yaml
  /v1/coupons/percentage:
    $ref: paths/coupons@percentage.yaml
  /v1/coupons/fixed-amount:
    $ref: paths/coupons@fixed-amount.yaml
  /v1/coupons/free-time:
    $ref: paths/coupons@free-time.yaml
  /v1/coupons/{id}:
    $ref: paths/coupons@{id}.yaml
  /v1/coupons/{id}/codes:
    $ref: paths/coupons@{id}@codes.yaml
  /v1/coupons/{id}/codes/generate:
    $ref: paths/coupons@{id}@codes@generate.yaml
  /v1/coupons/{id}/codes/{code}:
    $ref: paths/coupons@{id}@codes@{code}.yaml
  /v1/webhooks:
    $ref: paths/webhooks.yaml
  /v1/webhooks/{id}:
    $ref: paths/webhooks@{id}.yaml
  /v1/webhooks/{id}/enable:
    $ref: paths/webhooks@{id}@enable.yaml
  /v1/webhooks/{id}/disable:
    $ref: paths/webhooks@{id}@disable.yaml
  /v1/availability:
    $ref: paths/availability.yaml
