openapi: 3.1.1
info:
  title: Let's Book API
  description: |
    # Changelog

    ## 2025-11-18
    - Made the `url` property of a booking `nullable` when its status is `'draft'`
    - Made the `phoneNumber` property of a customer `nullable` instead of empty string when not known
    - Added new [webhook endpoints](/api/#tag/Webhooks) 
    - Added new [webhook requests](/api/#tag/Webhook-events)

    ## 2025-10-17
    - Added the `booking_fee` cost type

    ## 2024-05-31
    - Renamed all references from VAT to tax. Legacy `VAT` properties remain available for backward compatibility but are deprecated.
    - Introduced the `/v1/tax-rates` endpoint and deprecated the `/v1/vat-rates` endpoint

    # Introduction

    The Let's Book API follows REST standards. Send parameters as JSON body or form-encoded data.
    All responses return in JSON format. Every endpoint starts with `https://api.letsbook.app`. 
    Download the OpenAPI specification at [https://support.letsbook.app/api.yaml](https://support.letsbook.app/api.yaml).

    GET requests never modify data and are idempotent. POST/PUT/DELETE requests are not. 
    We use HTTP status codes to communicate errors.

    # Authentication

    Get your API key from the [dashboard](https://dashboard.letsbook.app/integrations). 
    Use it as a Bearer Authentication token. The API key is case-sensitive.

    Most tools support Bearer Authentication natively. If yours doesn't, construct the 
    Authorization header manually: `Authorization: Bearer <API_KEY>`.

    ### Example

    When your API key is `ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04`, 
    configure the header like this:

    ```
    Authorization: Bearer ac11f67b-1dcb-460c-aff3-f1ef35cd3c1c|pMKSUHcHXd7706zhHwBE040alh1BSY9RPsu6ZQ04
    ```

    # Multiple tenants

    If your API user has access to multiple [tenants](#tag/Me), include the `X-Tenant-Id` 
    header with every request. Without this header, we default to your primary tenant.

    ### Example

    Use the `/me` endpoint to retrieve all tenants you can access. Then use the `id` of your 
    desired tenant. For example, if the ID is `9366b305-e315-4abe-ba8a-90e326ad8e81`, 
    configure the header like this:

    ```
    X-Tenant-Id: 9366b305-e315-4abe-ba8a-90e326ad8e81
    ```

  version: '1.0'
  contact:
    name: Let's Book
    email: tech@lets-book.com
    url: https://lets-book.com
  license:
    name: Proprietary
    url: https://lets-book.com
servers:
  - url: https://api.letsbook.app
    description: Let's Book API v1
tags:
  - name: Me
    description: |
      Retrieves information about the current user. Primarily used to verify
      that authentication is functioning as expected.
  - name: Docks
    description: |
      A dock serves as the pickup and return point for boats. Boats can be moored at
      docks for specified periods of time.
  - name: Boat models
    description: |
      A boat model represents a type of boat. Many boat rental companies maintain multiple
      interchangeable boats of the same type, which we refer to as a boat model.
  - name: Customers
    description: |
      A customer is an individual who rents a boat.
  - name: Bookings
    description: |
      A booking can be created by customers or staff members. It represents a
      reservation for a specific boat model, to be picked up at a designated time from a
      specific dock and returned at a specified time to that same dock.
  - name: Tax rates
    description: |
      A tax rate is a named percentage used to calculate taxes on add-ons,
      costs, and other charges.
  - name: Availability
    description: |
      Availability represents the availability of a boat model at a specific dock.
      Availability is calculated by subtracting the number of bookings for a
      specific boat model at a specific dock from the total number of boats available
      at that dock.
  - name: Webhooks
    description: |
      A webhook is a way for one system to instantly notify another when something happens. Instead of your app constantly polling our API, Let's Book sends an HTTP POST request to your specified URL whenever an event occurs. See [webhook events](#tag/Webhooks-events) for details on what we're sending. We consider the webhook call successful when your server returns a response with a `2xx` status code.

      > NOTE: The webhook endpoints are currently in private beta
  - name: Webhook events
    description: |
      A webhook event payload is a JSON object that contains event data for your app to process. When a relevant event occurs, we'll send the payload using a POST request to your webhook endpoint. Here's a list of event details on what we're sending.

      > NOTE: The webhook events are currently in private beta
security:
  - AuthorizationHeader: []
components:
  securitySchemes:
    AuthorizationHeader:
      type: http
      scheme: bearer
      description: |
        Use your API key as a Bearer token in a header: `Authorization: Bearer <API_KEY>`.
        You can obtain your API key from the [dashboard](https://dashboard.letsbook.app/integrations).
    WebhookSignature:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: |
        Outgoing webhooks include a signature header that you can use to verify the request came from Let's Book.
        The signature is generated using the webhook secret configured in your [webhook settings](https://dashboard.letsbook.app/integrations/webhooks).
webhooks:
  $ref: paths/webhook-events.yaml
paths:
  /me:
    $ref: paths/me.yaml
  /v1/docks:
    $ref: paths/docks.yaml
  /v1/docks/{id}:
    $ref: paths/docks@{id}.yaml
  /v1/boat-models:
    $ref: paths/boat-models.yaml
  /v1/boat-models/{id}:
    $ref: paths/boat-models@{id}.yaml
  /v1/customers:
    $ref: paths/customers.yaml
  /v1/customers/search:
    $ref: paths/customers-search.yaml
  /v1/customers/{id}:
    $ref: paths/customers@{id}.yaml
  /v1/customer-types:
    $ref: paths/customer-types.yaml
  /v1/bookings:
    $ref: paths/bookings.yaml
  /v1/bookings/{id}:
    $ref: paths/bookings@{id}.yaml
  /v1/orders/{bookingId}:
    $ref: paths/orders@{bookingId}.yaml
  /v1/tax-rates:
    $ref: paths/tax-rates.yaml
  /v1/vat-rates:
    $ref: paths/vat-rates.yaml
  /v1/webhooks:
    $ref: paths/webhooks.yaml
  /v1/webhooks/{id}:
    $ref: paths/webhooks@{id}.yaml
  /v1/webhooks/{id}/enable:
    $ref: paths/webhooks@{id}@enable.yaml
  /v1/webhooks/{id}/disable:
    $ref: paths/webhooks@{id}@disable.yaml
  /v1/availability:
    $ref: paths/availability.yaml
